@font-face {
    font-family: Inter;
    src: url(assets/inter-font.woff2);
}

@font-face {
    font-family: Merriweather;
    src: url(assets/merriweather-font.woff2);
}

.flex {
    display: flex;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

header {
    position: relative;
    width: fit-content;
}

h1.name {
    font-family: Merriweather;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
}

body {
    font-family: Inter;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}