@font-face {
    font-family: Inter;
    src: url(assets/fonts/inter-font.woff2);
}

@font-face {
    font-family: Merriweather;
    src: url(assets/fonts/merriweather-font.woff2);
}

:root {
    --dark-purple: #560BAD;
    --light-purple: #7209B7;
    --violet: #B5179E;
    --pink: #FF99BE;
    --light-blue: #4895EF;
    --blue: #3F37C9;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  border-radius: 8px;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* END RESET */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

header .background-decoration {
    background-color: darkblue;
    transform: skewY(calc(-25deg)) translateY(20%) scaleY(-2);
    transform-origin: top right;
    position: absolute;
    box-shadow: 2px 2px 10px rgb(114, 113, 113);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.headshot-container {
    position: relative;
    width: fit-content;
    margin: 2rem;
    box-shadow: 2px 2px 10px rgb(114, 113, 113);
    border-radius: 8px;
}

h1, h2, h3, .screenshot {
    font-family: Merriweather;
}

h1.name {
    position: absolute;
    bottom: 2.5px;
    left: 20px;
    text-align: left;
    color: white;
    font-size: 4rem;
}

h2 {
    font-size: 3.25rem;
    text-align: center;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me-content {
    margin: 0 1.5rem;
    font-size: 1.175rem;
}

.about-icon-link-image, .contact-icon-link-image {
    width: 2.75rem;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

p {
    text-align: center;
}

body {
    font-family: Inter;
    background-color: white;
}

.description {
    margin: 0 1.5rem 1.5rem;
}

main {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(1, 1fr);
}

.my-projects {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card {
    width: 100%;
    height: 60vh;
    box-shadow: 2px 2px 10px rgb(114, 113, 113);
}

.screenshot {
    font-size: 3rem;
    padding: 2rem;
    color: white;
    height: 66%;
    text-align: center;
}

.dark-purple {
    background-color: var(--dark-purple);
}

.light-purple {
    background-color: var(--light-purple);
}

.violet {
    background-color: var(--violet);
}

.pink {
    background-color: var(--pink);
}

.light-blue {
    background-color: var(--light-blue);
}

.blue {
    background-color: var(--blue);
}

.dark-blue {
    background-color: darkblue;
}

.title-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.card-title {
    margin-left: 1em;
    font-size: 1.5rem;
}

.link-container {
    display: flex;
    gap: 0.5rem;
}

.project-icon-link-image {
    width: 1.5rem;
}


footer {
    background-color: darkblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.contact-me {
    padding-top: 1rem;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reach-out {
    font-size: 1.175rem;
}

.contact-icon {
    width: 1rem;
    display: inline;
    text-align: center;
}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(14deg) brightness(106%) contrast(102%);
}

@media (min-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    header .background-decoration {
        transform: skewY(calc(-20deg)) translateY(20%) scaleY(-2);
    }

    .headshot-container {
        float: left;
        margin: -0.5rem 1.25rem 0.5rem -0.5rem;
        z-index: 10;
    }

    h1.name {
        width: max-content;
        top: -30px;
        bottom: auto;
        left: 275px;

        @media (768px < width < 900px) {
            left: 200px;
        }
    }

    .about-me-container {
        display: inline-block;
        flex-direction: row;
        margin: 5rem 3rem 3rem;
    }

    .about-me {
        box-shadow: 2px 2px 10px rgb(114, 113, 113);
        background-color: #FFFFFF;
        max-width: 680px;
        padding: 90px 10px 0;
        margin: 3.125rem 3.125rem 0 3.125rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .about-me-header {
        margin-bottom: 1rem;
    }

    .my-projects-header, .contact-me-header {
        align-self: start;
    }

    p {
        text-align: left;
    }

    .about-me-links {
        justify-content: end;
        align-items: end;
        margin: 1rem 0 0;
        padding: 3rem 1rem 1rem;
    }

    .about-icon-link-image {
        width: 1.5rem;
    }

    .reach-out, .about-me-content {
        font-size: 1.2rem;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-card {
        height: 50vh;
    }

    .screenshot p {
        text-align: center;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: start;
    }

    .contact-me {
        align-items: start;
        padding-left: 2rem;
    }

    .flex {
        justify-content: start;
    }

    footer picture {
        margin: 2rem;
    }
}

@media (width > 1200px) {
    body header {
        align-items: end;
        margin-bottom: 3rem;
        margin-top: 1.5rem;
    }
    
    .about-me-header {
        text-align: left;
        margin-left: 1.5rem;
    }

    .headshot-container {
        position: relative;
        z-index: 1;
    }
    
    .about-me-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .about-me {
        margin-left: -50px;
        position: relative; 
        z-index: 0;
        max-width: 60vw;
        padding: 20px;
        margin-bottom: 3rem;
    }

    .headshot {
        max-width: 500px;
        width: 30vw;
        display: block;
        height: auto;
    }
    
    h1.name {
        top: auto;
        left: auto;
        right: 1.6rem;
        bottom: 0.1rem;
        font-size: 3rem;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}